[submodule "A0"]
	path = A0
	url = https://github.com/mohammadsaadati80/Advanced-Programming-A0.git
[submodule "A1"]
	path = A1
	url = https://github.com/mohammadsaadati80/Advanced-Programming-A1.git
[submodule "A2"]
	path = A2
	url = https://github.com/mohammadsaadati80/Advanced-Programming-Recursion.git
[submodule "A3"]
	path = A3
	url = https://github.com/mohammadsaadati80/Unit-Selection-Suggestion.git
[submodule "A4"]
	path = A4
	url = https://github.com/mohammadsaadati80/Goodreads.git
[submodule "A1C"]
	path = A1C
	url = https://github.com/mohammadsaadati80/Advanced-Programming-Clean-Code.git
[submodule "A5"]
	path = A5
	url = https://github.com/mohammadsaadati80/Fieldrunners.git
[submodule "A6"]
	path = A6
	url = https://github.com/mohammadsaadati80/Advanced-Programming-A6.git
[submodule "A7P1"]
	path = A7P1
	url = https://github.com/mohammadsaadati80/UTRIP.git
[submodule "A7P2"]
	path = A7P2
	url = https://github.com/mohammadsaadati80/UTRIP-Smart.git
